* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  background-color: #000;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .loader .loader__text {
  font-size: 4rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}
